.navbar {
  width: 100%;
  height: 70px;
  background-color: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  /* position: fixed; */
  margin-top: 0;
}

.selected-link:active {
  border: 1px solid red;
}

.navbar .links {
  /* text-align: center; */
  /* margin-right: 50px; */
  /* flex: 1; */
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  /* list-style: none; */
} 

.links :hover {
  color: black;
} 

.links :active {
  color: var(--color-golden);
} 


.links a {
  display: inline-block;

  color: #1d1d1d;
  text-decoration: none; 
  /* border-bottom: 3px solid #ff6d00; */
  padding-bottom: 2px; 
  margin: 10px; 
}

.links a:hover {
  display: inline-block;
}


.links a:after {
  content: '';
  width: 0px;
  height: 2px;
  display: block;
  background: #ff6d00;
  transition: 300ms;
}

.links a:hover:after {
  width: 100%;
}

.links a:focus {
  color: #ff6d00;
}

.navbar .user {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 50px;
}

.user p {
  font-size: 15px;
  margin-right: 10px;
  color: #1d1d1d;
}

/* .user button {
  
} */

.user p:hover {
  cursor: pointer;
  color: #ff6d00;
  font-size: 20px;
  transition: 300ms;
}

.user img {
  font-size: 15px;
  border-radius: 50%;
}

.logoutbutton {
  margin-left: 0.9rem;
  font-family: 'Montserrat', sans-serif;
  padding: 0.5rem 0.5rem;
  background-color: grey;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;

}

.logoutbutton:hover {
  color: var(--color-golden);
}

.profilepicture {
  width: 50px;
  height: 50px;
  cursor: pointer;

}

.profilepicture:hover {
  border: 2px solid black;
}